/* font-family: 'VT323', monospace; */

html, body {
  height: 100% /* for max height to fix full screen mobile bug */
}
body {
  background-color: #272931;
}
.audio {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 15px;
  background: url(../images/sound-on.png) no-repeat center;
  opacity: .7;
  cursor: pointer;
  z-index: 5;
}
.score {
  font-size: 2.5em;
  padding: 10px;
  font-family:'VT323', monospace; 
  position: relative;
}
.game-field {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(../images/background.webp) 50% 100% / cover;
  position: relative;
  transition: all 1.2s ease;
}
.jumper {
  width: 60px;
  height: 161px;
  background: url(../images/css_sprites.png) no-repeat -10px -10px ;
  position: absolute;
}
.skill {
  width: 125px;
  text-align: center;
  height: 30px;
  background: url(../images/css_sprites.png) no-repeat -10px -191px;;
  position: absolute;
  line-height: 1.9;
  color: white;
  font-weight: 700;
  border-radius: 0 0 8px 8px;
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  text-shadow: 3px 2px 2px rgba(0,0,0,0.45);
}
.start-screen {
  position: absolute;
  width: 70%;
  background-color: rgba(242, 219, 176, .7);
  min-height: 70%;
  top: 8%;
  left: 15%;
  z-index: 20;
  border-radius: 20px;
  border: 10px solid brown;
  -webkit-box-shadow: 11px 16px 36px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 16px 36px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.desktop {
  display: none;
}
a {
  display: block;
  width: 80%;
  text-align: center;
  padding: 5% 10%;
  background-color: brown;
  text-decoration: none;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 3em;
  margin: 70px 0;
  border-radius: 10px;;
}
a.mobile {
  margin: 40px 0;
}
h1 {
  font-family: 'VT323', monospace;
  font-size: 5em;
  text-align: center;
  line-height: .7;
  color: brown;
}
h3 {
  font-family: 'VT323', monospace;
  font-size: 3em;
  text-align: center;
  line-height: 1;
  color: black
}
h4{
  font-family: 'VT323', monospace;
  font-size: 2em;
  text-align: center;
  line-height: 1;
  color: brown
}
p {
  margin: 50px 0 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 0 30px;
  line-height: 1.5;
}
p.mobile {
  margin: 30px 0 0;
  font-size: 1.125em;
}
b{
  font-weight: 700;
}
h2 {
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  letter-spacing: .15em;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .skill {
    line-height: 1.6;
    font-size: 1.3em;
  }
  h3 {
    font-size: 5em;
  }
  h4 {
    font-size: 3em;
  }
  p {
    margin: 100px 0 0;
  }
}
@media screen and (min-width: 663px){
  h2 {
    font-size: 2em;
  }
}
